<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="chat" version="1.0.2">
  <details>
    <title>Chat</title>
    <email>wirecloud@conwet.com</email>
    <image>images/catalogue.png</image>
    <smartphoneimage>images/catalogue.png</smartphoneimage>
    <description>Generic chat widget allowing to use different backends.</description>
    <longdescription>DESCRIPTION.md</longdescription>
    <changelog>doc/changelog.md</changelog>
    <doc>doc/userguide.md</doc>
    <license>MIT</license>
    <authors>Santiago Blanco</authors>
    <issuetracker>https://github.com/Wirecloud/chat-widget/issues</issuetracker>
  </details>
  <persistentvariables>
    <variable name="log" type="text" label="log"/>
  </persistentvariables>
  <wiring>
    <outputendpoint name="msgOut" type="text" label="Message" description="Message to send it through a channel" friendcode="msg"/>
    <inputendpoint name="profile" type="text" label="Profile" description="Profile in vCard format." actionlabel="Profile" friendcode="vCard"/>
    <inputendpoint name="msg" type="text" label="Message" description="Message to send." actionlabel="Message" friendcode="msg"/>
    <inputendpoint name="msgAck" type="text" label="Acknowledge" description="Received response." actionlabel="ACK" friendcode="ack"/>
  </wiring>
  <contents src="index.html" cacheable="false" useplatformstyle="true"/>
  <rendering height="50" width="7"/>
</widget>
